/*------------------*
# Main Content
*------------------*/

.main-content {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100%;
}
